admin:  # Admin interface configuration
  access_log_path: /tmp/admin_access.log  # Path for admin access logs
  address:  # Admin interface address
    socket_address:  # Socket address configuration
      address: 0.0.0.0  # Listen on all network interfaces
      port_value: 9901  # Admin dashboard port

static_resources:  # Static resources configuration
  listeners:  # List of listeners
  - name: listener_0  # Listener name
    address:  # Listener address
      socket_address:  # Socket address
        address: 0.0.0.0  # Bind to all IPv4 addresses
        port_value: 10000  # Listen on port 10000
    filter_chains:  # Filter chains configuration
    - filters:  # List of filters
      - name: envoy.filters.network.http_connection_manager  # HTTP connection manager filter
        typed_config:  # Typed configuration
          "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager  # HTTP connection manager v3 type
          stat_prefix: ingress_http  # Statistics prefix
          access_log:  # Access log configuration
          - name: envoy.access_loggers.file  # File access logger # as we will register it to a systemd service, we only could log to a file but not stdout
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.access_loggers.file.v3.FileAccessLog  # File access log type
              path: "/tmp/envoy_access.log"  # Access log file path
          http_filters:
          - name: envoy.filters.http.lua
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua
              inline_code: |
                function envoy_on_request(request_handle)
                  request_handle:headers():add("x-custom-header", "value1")
                  request_handle:headers():replace("Host", "py-api-svc-912156613264.europe-west2.run.app")
                end
          - name: envoy.filters.http.gcp_authn
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.gcp_authn.v3.GcpAuthnFilterConfig
              http_uri:
                uri: "http://metadata.google.internal/computeMetadata/v1/instance/service-accounts/default/identity?audience=AUDIENCE"
                cluster: "gcp_authn"
                timeout: 10s
          - name: envoy.filters.http.router
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router
          route_config:
            name: local_route
            virtual_hosts:
            - name: myui_redirect
              domains: ["*"]
              routes:
              - match:
                  prefix: "/"
                route:
                  cluster: myui_cluster
                


  clusters:  # Upstream clusters configuration
  - name: myui_cluster  # Cluster name
    connect_timeout: 5s  # Connection timeout
    type: LOGICAL_DNS  # Service discovery type: logical DNS
    dns_lookup_family: V4_ONLY  # Use only IPv4 for DNS lookups
    lb_policy: ROUND_ROBIN  # Load balancing policy: round robin
    load_assignment:  # Load assignment configuration
      cluster_name: myui_clusterss  # Cluster name reference
      endpoints:  # Endpoints list
      - lb_endpoints:  # Load balancing endpoints
        - endpoint:  # Single endpoint
            address:  # Endpoint address
              socket_address:  # Socket address
                address: py-api-svc-912156613264.europe-west2.run.app
                port_value: 443  # Upstream HTTPS port
    transport_socket:  # Transport socket configuration
      name: envoy.transport_sockets.tls  # TLS transport socket
      typed_config:
        "@type": type.googleapis.com/envoy.extensions.transport_sockets.tls.v3.UpstreamTlsContext  # Upstream TLS context type
  - name: gcp_metadata_server
    connect_timeout: 5s
    type: strict_dns
    lb_policy: round_robin
    load_assignment:
      cluster_name: gcp_metadata_server
      endpoints:
        - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: metadata.google.internal
                    port_value: 80
